
@media(min-width: 768px){
  .container{
    display: flex;
    align-content: center;
    justify-content: flex-start;
  }

  .log-table{
    flex: 5;
  }

  .NavigationKeys{
    padding: 20px;
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
  }
}
span.dots {
  color: gray;
}

table.dataFields {
  padding-left: 5em;
}

tr.hidden {
  visibility: collapse;
}

tr.warning {
  background-color: #ffc890;
}

th.signal-type {
  min-width: 50px;
}

th.signal-sender {
  min-width: 50px;
}

th.signal-name {
}

th.signal-frequency {
  min-width: 50px;
}

th.signal-timestamp {
  min-width: 100px;
}

td.field-name {
  min-width: 200px;
}

td.field-plot {
  min-width: 300px;
}

td.field-value {
}

.FwdKey{
  padding-left: 30px;
}

.bottomKeys{
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.RghtKey{
  padding-left: 30px;
}

#main-footer{
  position: absolute;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

h6{
  font-weight: bold;
}